@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------------------------------------------Colours */




/*------------------------------------------------------------------------------Heading */

header {
    background-color: #5e7a6a;
    margin: 0;
}
/*------------------------------------------------------------------------------test -CREDIT */

.dropbtn {
    background-color:#FBD2D7;
    color: #5f717e;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin: 30px 30px 30px 30px;
    border: none;
  }


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(95, 113, 126, 0.47);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(251,210,215,0.86);
    z-index: 1;
    margin-left: 40px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #5f717e;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #B3BEB7;}

  /*------------------------------------------------------------------INDEX.HTML*/
/*----------------------------HERO IMAGE */

#hero-image {
    background: url("../css/images/coast-line.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%; 
    transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;     
}
 
/*--------------------------ABOUT TAI CHI */

.intro {
    background-color:#5f717e;
    margin: 20px 10px 20px 10px;    
}

h2 {
   text-transform: uppercase; 
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #fff;
   padding: 10px;
}

p {
    text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 200;
   font-size: 16px;
   color: #fff;
   padding: 10px;
}

/*----------------------------HEALTH BENEFITS */

div#health-benefits-bg {
    display: flex;
    background-color: #FBD2D7;
    margin-bottom: 25px;
}

div .health-benefits-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row wrap;
}

.health-benefits-title h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #5f717e;
    text-transform: uppercase;
}

div .health-benefit {
    display: flex;
    justify-content: space-around;
    flex: row wrap;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #5f717e;
    margin: 15px;
}

p.hb-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------------------Footer */

footer {
    background-color: #5E7A68;
    min-height: 150px;
    margin: 0;
}

  .flex-container > #social-media {
      text-align: center;
      padding: 50px 50px 50px 50px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
  }

  #social-media li {
      list-style-type: none;
  }
  
i {
    font-family: "FontAwesome";
    text-decoration: none;
    font-size: 160%;
    padding: 20px;
    margin-left: 60px;
    color: #f5f5f5;
    font-style: normal;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

i:hover {
   color: #B3BEB7; 
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------------------------- ABOUT_US.HTML*/
/*--------------------------------ABOUT US IMAGE */

.about-us-img img{
    vertical-align: middle;
    border-style: none;
    padding: 20px 10px;
}

/*-----------------------------ABOUT US TEXT */

.about-us {
    background-color:#5f717e;
    margin: 20px 10px 20px 10px;   
}

/*-------------------------------------------------USEFUL LINKS */

.useful-links {
    background-color:#5f717e;
    margin: 20px 10px 20px 10px; 
}

.useful-links a {
    color: #fff;
}

.useful-links a:hover {
    color:  #B3BEB7;
}


/*----------------------------------------------------------------------------------GALLERY>HTML*/

.resize {
    vertical-align: middle;
    border-style: none;
    padding: 50px;
}

#photos {
    clear: both;
    line-height: 10px;
    column-count: 2;
    column-gap: 10px;
}

#photos img {
    width: 100%;
}
 
 /*------------------------------------------------------------ Media Queries*/

 @media (max-width: 800px) {
    div#health-benefits-bg {
      flex-direction: column;
      align-items: center;
    }
  }

 @media screen and (max-width: 600px) {
    social-media {
      padding: 50px 50px 50px 50px;
      margin-left: 30px;
    }

    i {
        margin-left: 20px;
    }
 }

 @media screen and (min-width: 769px) {
    #photos {
        column-count: 3;
    }    
 }

 @media screen and (max-width: 480px) {
    #photos {
        column-count: 1;
    }    
 }