@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------------------------------------------Colours */

.bg-color-name-header {
    background-color: #5E7A68;
}


/*------------------------------------------------------------------------------Heading */

header {
    margin: 0;
}

.logo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #FBD2D7;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
}
    

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin: 30px 30px 30px 30px;
    color: #5f717e;
}

.nav-bar {
    text-align: right;
    padding: 60px;
    margin-left: 40%;
}

.menuitem {
    margin-left: 30px;
}

li a {
    float: right;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
/*----------------need to add hoover element to the menu bar and style this with a light grey when hovered over.*/

#hero-image {
    background: url("../css/images/coast-line.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    transition: all.5s ease-in-out;
    moz- transition: all.5s ease-in-out;
    webkit- transition: all.5s ease-in-out;
}
    
}
    
/*------------------------------------------------------------------------------Footer */

footer {
    background-color: #5E7A68;
    min-height: 150px;
    margin: 0;
}

i {
    font-family: "FontAwesome";
    padding: 15px;
    margin-left: 60px;
    color: #f5f5f5;
}

.social-media {
    padding: 50px 50px 50px 50px;
    margin-left: 300px;
}
   
 /*--------------------------------- style social media icons*/