@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------------------------------------------Colours */

.bg-color-name-header {
    background-color: #5E7A68;
}


/*------------------------------------------------------------------------------Heading */

header {
    margin: 0;
}

.logo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #FBD2D7;
    padding: 10px;
    margin: 10px 0 10px 5px;
}
    

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin: 30px 30px 30px 30px;
    color: #5f717e;
}

.nav-bar {
    text-align: right;
    padding: 20px 5px 50px 30px;
    margin-left: 40%;
}



li a {
    float: right;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
/*----------------need to add hoover element to the menu bar and style this with a light grey when hovered over.*/

#hero-image {
    background: url("../css/images/coast-line.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%; 
    transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;     
}
 
.intro {
    background-color:#5f717e;
    margin: 20px 10px 20px 10px;    
}

h2 {
   text-transform: uppercase; 
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #fff;
   padding: 10px;
}

p {
    text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 200;
   font-size: 16px;
   color: #fff;
   padding: 10px;
}

.health-benefits-title-bg {
    background-color: #FBD2D7;
    margin: 20px 90px 20px 90px; 
}

.health-benefits-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #5f717e;
    margin: 10px 500px 10px 500px;
    text-transform: uppercase;
}

.health-benefits-position {
    padding-left: 0;
    list-style: none;
    margin-left: 260px;
}

 .health-benefit-1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #5f717e;
    padding: 10px;
    margin: 20px 10px 20px 10px;
}   

.health-benefit-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #5f717e;
    padding: 10px;
    margin: 20px 10px 20px 50px;
}  

.health-benefit-3 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #5f717e;
    padding: 10px;
    margin: 20px 10px 20px 10px;
}   

.health-benefit-4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #5f717e;
    padding: 10px;
    margin: 20px 10px 20px 50px;
} 

.hb-list {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    margin: 50px 5px 50px 5px;
}
/*------------------------------------------------------------------------------Footer */

footer {
    background-color: #5E7A68;
    min-height: 150px;
    margin: 0;
}

i {
    font-family: "FontAwesome";
    padding: 15px;
    margin-left: 60px;
    color: #f5f5f5;
}

.social-media {
    padding: 50px 50px 50px 50px;
    margin-left: 300px;
}

   
 /*--------------------------------- style social media icons*/